COMPOSE_FILE=docker-compose.dev.yml

BOT_TOKEN=your_telegram_bot_token_here
BOT_ADMIN_USER_ID=123456789

CRON_SCHEDULE=0 * * * *
FETCH_TIMEOUT_MS=15000
REQUEST_DELAY_MS=2500
MAX_RETRIES=3

LISTAM_BASE_URL=https://www.list.am


BOT_TOKEN=your_telegram_bot_token_here
BOT_INCIDENTS_USER_ID=your_telegram_user_id_here
BOT_ENVIRONMENT=local



FLARESOLVERR_URL=http://list_am_bot.flaresolverr:8191
FLARESOLVERR_MAX_TIMEOUT=60000

LOG_LEVEL=info

ENV=local
NODE_ENV=development

SERVICE_REST_PORT=3000

# DATABASE => POSTGRES
POSTGRES_HOST=list_am_bot.postgres
POSTGRES_PORT=5032
POSTGRES_USERNAME=list_am_bot
POSTGRES_PASSWORD=password
POSTGRES_NAME=list_am_bot
POSTGRES_LOGGING=false
POSTGRES_BASE_URL=postgresql://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_NAME}

CORE_POSTGRES_SCHEMA=core
CORE_POSTGRES_URL=${POSTGRES_BASE_URL}?schema=${CORE_POSTGRES_SCHEMA}
